.texto-maria {
    color : rgb(120, 209, 236);
}
.texto-deise{
    color: rgb(202, 156, 245);
}
.texto-bruno{
    color: rgb(125, 153, 245);

}
#nome-aluno{
    color: rgb(253, 155, 229);
}
p {
    color: rgb(204, 241, 134)
}
.Patricia {
    color: rgb(241, 143, 212);
}
.Marianna{
    color: rgb(178, 116, 236);
}
.Yasmin{
    color: rgb(109, 107, 241);
}
.Jean{
    color: rgb(113, 226, 230);
}
.Kauê{
    color: rgb(212, 240, 147);
}